body{
    padding-top: 800px;
    margin: 0;
}
.profile{
    border-radius: 50%;
    width: 100px;
}
#about{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: deeppink;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
html{
    scroll-behavior: smooth;
}
img:hover{
    transform: scale(0.9);
}